input{
    height: 2rem;
    margin-bottom: 10px;
}
.btn{
    margin-bottom: 4px;
    height: 2rem;
}
ul li{
    list-style: none;
}
.search-label{
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
header{
    text-align: center;
    padding: 5px 0;
    margin-bottom: 5px;
}
.card{
    border-radius: 10px;
    margin: 5px 5px;
}
.future{
    margin: 14px 0 0 8px;
}
.uv-color{
    padding: 2px 4px;
    border-radius: 5px;
}
#city-name{
    text-transform: capitalize;
}