input{
    height: 2rem;
    margin-bottom: 10px;
}
.btn{
    margin-bottom: 4px;
    height: 2rem;
}
ul li{
    list-style: none;
}
.search-label{
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}